### RIPASSO ESAME

### R mathematics

In [10]:
x = 1
log(x)
exp(x)
log(x,2)
log10(x)
sqrt(x)
factorial(x)
choose(2,x) #binomial coefficient
gamma(x) #(x-1)!
lgamma(x) #ln(gamma(x))
abs(x)
floor(x) #greater integer less than x
ceiling(x) #smallest integer greater than x
trunc(x) #closest integer to x between 0 and x
cos(x)
sin(x)
tan(x)
asin(x) #inverse functions
acos(x)
atan(x)
asinh(x)
acosh(x)
atanh(x)

[1] 0

[1] 2.718282

[1] 0

[1] 0

[1] 1

[1] 1

[1] 2

[1] 1

[1] 0

[1] 1

[1] 1

[1] 1

[1] 1

[1] 0.5403023

[1] 0.841471

[1] 1.557408

[1] 1.570796

[1] 0

[1] 0.7853982

[1] 0.8813736

[1] 0

[1] Inf

### Data types

In [16]:
x = 1 #scalar do not exists, they are 1-element vectors
x
y = c(x,2,3,4)
y

z = c(y, 5, c(6,7,8))
z

[1] 1

[1] 1 2 3 4

[1] 1 2 3 4 5 6 7 8

In [24]:
class(x) #what type of data i have
typeof(y[2]) #type of a object
length(z) #how many objects
str(y)

[1] "numeric"

[1] "double"

[1] 8

 num [1:4] 1 2 3 4

In [7]:
x = 3:1 #parti da 3 arriva a 2
x
f1 = 2.5
x*f1
f2 = c(4,2) #the shorter vector is duplicated to cover the length of x
x*f2

[1] 3 2 1

[1] 7.5 5.0 2.5

Warning message in x * f2:
“longer object length is not a multiple of shorter object length”

[1] 12  4  4

In [19]:
roba = c(4,7,6,5,6,7)
mean(roba)
min(roba)
max(roba)
sd(roba)
roba[2]
index = c(1,3,4,6) 
roba[index] #prendo posizioni 1,3,4,6 del vettore roba
roba[-1] #remove the first element
roba[-length(roba)] #remove the last element

[1] 5.833333

[1] 4

[1] 7

[1] 1.169045

[1] 7

[1] 4 6 5 7

[1] 7 6 5 6 7

[1] 4 7 6 5 6

In [16]:
r = 0:10
r
s = seq(0,10,2)
s
p = seq(from=0.04, to=0.14, length=6)
p

 [1]  0  1  2  3  4  5  6  7  8  9 10

[1]  0  2  4  6  8 10

[1] 0.04 0.06 0.08 0.10 0.12 0.14

In [24]:
x = 0:10
sum(x)
x<5 #true for numbers major then 5
sum(x<5) #not the sum of 0+1+2+3+4 but the sum of all trues so 5 trues
sum(x[x<5]) #this is the correct sum
rep(9,5) #replicate 5 times number 9
rep(1:4, each=2) #replicate twice each sequence number
rep (1:4, each =2, times =3) #replicate each number twice and do it 3 times

[1] 55

 [1]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE

[1] 5

[1] 10

[1] 9 9 9 9 9

[1] 1 1 2 2 3 3 4 4

 [1] 1 1 2 2 3 3 4 4 1 1 2 2 3 3 4 4 1 1 2 2 3 3 4 4

### R vector types

In [32]:
#4 standard vector types(double and integer are numerics, then character and logical) and two more rare (complex and raw)
n = c(1,3,12)
class(n) #classe
typeof(n) #type
x = -5:5
x
even = x %% 2 == 0
even
k = c("lmao", "asd", "rofl")
class(k)
typeof(k)

[1] "numeric"

[1] "double"

 [1] -5 -4 -3 -2 -1  0  1  2  3  4  5

 [1] FALSE  TRUE FALSE  TRUE FALSE  TRUE FALSE  TRUE FALSE  TRUE FALSE

[1] "character"

[1] "character"

In [6]:
4/0
-15/0
exp(Inf)
0/0
Inf - Inf
y = c(4, NA, 6)
y
is.na(y[2])
x = y[! is.na(y)] #remove the NA
x

[1] Inf

[1] -Inf

[1] Inf

[1] NaN

[1] NaN

[1]  4 NA  6

[1] TRUE

[1] 4 6

### Functions

max, min, sum, mean, median, range (a vector with min and max), var, cor(x,y) (correlation between vector x and y), sort (sorted version of x), rank(x) (a vector with the ranks of x values), order, quantile(x) (a vector with minimum, lower quantile, median, upper quantile, and max) (quantile divide il dataset in 2, quartili in 4, percentili in 100), cumsum, cumprod, cummax, cummin, pmax(x, y, z) (a vector containing the max of x,y,z at each position), pmin, colMeans (column means of a matrix), colSums, rowMeans, rowSums.

In [12]:
x = c(x=3, y=2, z=4)
x
names(x)
y = unname(x)
y
z = c(3,6,3,7,8,5,2,5)
names(z) = 1:length(c)
z

x y z
3 2 4

[1] "x" "y" "z"

[1] 3 2 4

   1 <NA> <NA> <NA> <NA> <NA> <NA> <NA>
   3    6    3    7    8    5    2    5

In [16]:
v1 = c(1:20)
v1
dim(v1) = c(4,5)
v1
class(v1)
v2 = c(1:20)
dim(v2) = c(2,5,2)
v2

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    5     9   13   17
[2,] 2    6    10   14   18
[3,] 3    7    11   15   19
[4,] 4    8    12   16   20

[1] "matrix" "array"

, , 1

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    3    5    7    9
[2,]    2    4    6    8   10

, , 2

     [,1] [,2] [,3] [,4] [,5]
[1,]   11   13   15   17   19
[2,]   12   14   16   18   20

In [26]:
v1 = c(1:20)
v1
dim(v1) = c(2,5,2)
str(v1)
v1

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

 int [1:2, 1:5, 1:2] 1 2 3 4 5 6 7 8 9 10 ...

, , 1

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    3    5    7    9
[2,]    2    4    6    8   10

, , 2

     [,1] [,2] [,3] [,4] [,5]
[1,]   11   13   15   17   19
[2,]   12   14   16   18   20

In [30]:
m = matrix(1:12, nrow=3)
m
class(m)
attributes(m)
dim(m) = c(2,6)
m
m[2,2]
m[2,]
m[1:2, 2:3]

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

[1] "matrix" "array"

$dim
[1] 3 4

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 1    3    5    7     9   11
[2,] 2    4    6    8    10   12

[1] 4

[1]  2  4  6  8 10 12

     [,1] [,2]
[1,] 3    5
[2,] 4    6

In [37]:
A = matrix (c (1, 0, 4, 2, -1, 1), nrow = 3)
B = matrix (c (1, -1, 2, 1, 1, 0), ncol = 3)
A
B
A %*% B #always look at nrows(A) = nrows(B)

     [,1] [,2]
[1,] 1     2
[2,] 0    -1
[3,] 4     1

     [,1] [,2] [,3]
[1,]  1   2    1
[2,] -1   1    0

     [,1] [,2] [,3]
[1,] -1    4   1
[2,]  1   -1   0
[3,]  3    9   4

In [42]:
I = diag (1, nrow = 3, ncol = 3)
I
C = matrix (c (1, 2, 4, 2, 1, 1, 3, 1, 2), nrow = 3)
C
det(C)
Cinv = solve(C)
Cinv
C %*% Cinv

     [,1] [,2] [,3]
[1,] 1    0    0
[2,] 0    1    0
[3,] 0    0    1

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 2    1    1
[3,] 4    1    2

[1] -5

     [,1] [,2] [,3]
[1,] -0.2  0.2  0.2
[2,]  0.0  2.0 -1.0
[3,]  0.4 -1.4  0.6

     [,1] [,2]          [,3]
[1,] 1    -2.220446e-16 2.220446e-16
[2,] 0     1.000000e+00 0.000000e+00
[3,] 0     0.000000e+00 1.000000e+00

In [43]:
A = matrix(c(3,1,4,2), nrow=2)
B = matrix(c(12,8), nrow=2)
solve(A, B)

     [,1]
[1,] -4
[2,]  6

In [48]:
lv = c(T, F, T)
lv
is.logical(lv)
as.numeric(lv)
as.character(lv)

[1]  TRUE FALSE  TRUE

[1] TRUE

[1] 1 0 1

[1] "TRUE"  "FALSE" "TRUE"